# =========================
# Python / Django
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
.venv/

db.sqlite3
staticfiles/
media/

# =========================
# Frontend (Vite / Node)
# =========================
node_modules/
dist/

# =========================
# Données SIG (IMPORTANT)
# =========================
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg
*.geojson
*.zip
*.tif

# =========================
# Logs
# =========================
*.log

# =========================
# OS / IDE
# =========================
.vscode/
.idea/
.DS_Store

# Windows
AppData/
NTUSER.*
