# Python
__pycache__/
*.pyc
.env
.venv/

# Django
db.sqlite3
staticfiles/

# Node / Front
node_modules/

# OS / IDE
.vscode/
.idea/
.DS_Store

# Données SIG (IMPORTANT)
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg
*.geojson
*.zip
*.tif

# Windows
AppData/
NTUSER.*
